body{
    padding: 0;
    margin: 0;
    background-color: gray;
}
.top{
    background-image: url("./images/IMG-20190913-WA0016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

nav {
    text-align: center;

}
ul{
    display: inline-flex;
    list-style-type: none;
}
 li a{
    text-decoration: none;
    width:150px;
    margin:15px;
    padding:15px;
    color:rgb(9, 241, 9);
    font-size: larger;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    background-color: whitesmoke;
}
.img{
    height: 300px;
    width:300px;
    border-radius: 50%;
    float:left;
}
.icon{
    height:50px;
    width: 50px;
}
.name{
    float: left;
    margin-top: 100px;
    font-size: x-large;
    font-weight: 500;
}
.message{
    float: right;
    font-style: italic;
    font-size: larger;
    font-weight: lighter;
    background-color: whitesmoke;
    opacity: 0.4;
    margin-top: 100px;
}
.first{
    text-align: center;
    margin-top: 100px;
}
.float{
    float: left;
}
.work{
    margin:100px;
}
.academic{
    margin: 100px;
}
