body{
    padding: 0;
    margin: 0;
    background-color: gray;
}
.top{
    background-image: url("./images/IMG-20190913-WA0016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.img{
    height: 300px;
    width:300px;
    border-radius: 50%;
}
